# This file tells Git which files shouldn't be added to source control

.idea
dist
apify_storage
crawlee_storage
storage
/node_modules

# Added by Apify CLI
.venv

# calgary
calgary/maserati/node_modules
calgary/autotrader/node_modules

# seattle
seattle/maserati/node_modules

# vancouver
vancouver/maserati/node_modules
vancouver/autotrader/node_modules

# victoria
victoria/maserati/node_modules
