# This file tells Git which files shouldn't be added to source control

.idea
dist
apify_storage
crawlee_storage
storage

# Added by Apify CLI
.venv

# calgary
calgary/maserati-calgary/node_modules

# seattle
seattle/maserati-seattle/node_modules

# vancouver
vancouver/maserati-vancouver/node_modules
vancouver/autotrader-vancouver/node_modules

# victoria
victoria/maserati-victoria/node_modules
victoria/autotrader-victoria/node_modules
